{% macro GPayForm(
  service="Checkout",
  action="completeGPay",
  title=_('GarantiPay Info'),
  description=None,
  submitButtonText=_('Pay with GarantiPay')
) %}
  {% if caller %}
    {{ caller() }}
  {% else %}
    <pz-form class="checkout-gpay js-gpay-form" service="{{ service }}" action="{{ action }}">
      <div class="checkout-payment-type__head">
        <span class="checkout-payment-type__head-title">
          {{ title }}
        </span>
      </div>

      <div class="checkout-payment-type__content">
        <div class="checkout-payment-type__description">

          {% if description %}
            <div class="checkout-payment-type__content">
              <div class="checkout-payment-type__description">
                <p class="checkout-payment-type__description-row">
                  {{ description }}
                </p>
              </div>
            </div>
          {% endif %}
          
          <div class="checkout-payment-complete checkout-credit-card__complete">
            <div class="checkout-payment-complete-agreement">
              <label class="checkout-payment-complete-agreement__label">
                <pz-checkbox
                  class="checkout-payment-complete-agreement__input js-checkout-agreement-input"
                  name="agreement"
                  v-required
                ></pz-checkbox>

                <p class="checkout-payment-complete-agreement__label-text">
                  {% autoescape false %}
                    {% set agreementOne = '<span data-modal=".js-agreement-one" class="checkout-payment-complete-agreement__label-action" >{}</span>'.format(_('Agreement One')) %}
                    {% set agreementTwo = '<span data-modal=".js-agreement-two" class="checkout-payment-complete-agreement__label-action">{}</span>'.format(_('Agreement Two')) %}
                    {% set agreementThree = '<span data-modal=".js-agreement-three" class="checkout-payment-complete-agreement__label-action">{}</span>'.format(_('Agreement Three')) %}

                    {{ _('Check here to indicate that you have read and agree to the terms of the {}, {} and {}.').format(agreementOne,  agreementTwo, agreementThree) }}
                  {% endautoescape %}
                </p>
              </label>

              <div class="checkout-error js-agreement-error" hidden></div>
            </div>

            <div
              class="checkout-payment-complete-errors js-form-errors"
              hidden
            ></div>

            <pz-button
              class="checkout__submit js-checkout-complete-button"
              icon="chevron-end"
              icon-position="right"
              type="submit"
              w-full
            >
              {{ submitButtonText }}
            </pz-button>
          </div>
        </div>
      </div>
    </pz-form>
  {% endif %}
{% endmacro %}